@import '_mixins';

$lightBackground: #F9F9F9;
$hoverColor: #F5F688;
$activeColor: #0079FF;
$sidebarColor: #AFAFAF;
$sidebarItemColor: #EFEFEF;
$navBackgroundColor: #6a6a6a;
$resListBackgroundColor: #AFAFAF;
$resListItemColor: #EEE;

body {
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

$sidebarWidth: 350px;
$menuPercent: 0.85;
$navWidth: $sidebarWidth * (1 - $menuPercent);

#sidebar {
    position: absolute;
    float: left;
    margin: 0;
    padding: 0;
    left: 0;
    height: 100%;
    width: $sidebarWidth;
    background-color: white;
    opacity: .95;
    box-shadow: 3px 0 10px #131313;
    transition: left .3s ease;
    z-index: 1;

    &.hidden {
        left: -($sidebarWidth * $menuPercent);
        transition: left .5s ease;
    }

    #menu {
        position: absolute;
        box-sizing: border-box;
        left: 0;
        height: 100%;
        width: $sidebarWidth * $menuPercent;
        padding: 10px;
        padding-right: 0;
        background-color: $sidebarColor;
        user-select: none;

        .resMenu {
            display: none;
            visibility: hidden;
            transition: visibility .5s ease;
        }
        .active {
            display: block;
            visibility: visible;
            transition: visibility .3s ease;
        }

        .header {
            font-weight: bold;
            font-size: 26px;
        }
        ul {
            padding: 0;
        }
        ul li {
            list-style: none;
            line-height: 30px;
            padding: 8px;
            margin: 10px;
            margin-right: 0;
            font-size: 18px;
            background-color: $sidebarItemColor;
            border-radius: 5px 0 0 5px;
            box-shadow: 0 0 5px #131313;
            transition: background-color .3s ease;
            cursor: pointer;
        }
        ul li:hover {
            background-color: $hoverColor;
            transition: background-color .2s ease;
        }
        ul li.active {
            background-color: $activeColor;
            transition: background-color .1s ease;
        }
    }

    #nav {
        position: absolute;
        box-sizing: border-box;
        left: 100% * $menuPercent;
        height: 100%;
        width: 100% * (1 - $menuPercent);
        background-color: $navBackgroundColor;
        box-shadow: inset 1px 0 3px #131313;
        opacity: .8;
        overflow-y: auto;
        ul {
            padding: 0;
        }
        ul .navBtn {
            list-style: none;
            display: block;
            margin-top: 50px;
            font-size: 30px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 0 5px 5px 0;
            user-select: none;
            vertical-align: middle;
            transition: all .5s ease;
        }
        ul .navBtn.active {
            background-color: $sidebarColor;
            box-shadow: 2px 1px 3px #131313;
            transition: all .3s ease;
        }
        ul .navBtn:hover {
            cursor: pointer;
            text-shadow: 0 0 20px $hoverColor;
            transition: text-shadow .3s ease;
        }
    }

    #showSidebar {
        position: absolute;
        display: inline-block;
        height: 15px;
        width: 20px;
        left: $sidebarWidth;
        cursor: pointer;
        margin: 10px;
        padding: 10px;
        background-color: transparent;
        span {
            // position: absolute;
            background-color: white;
            height: 2px;
            border-radius: 3px;
            margin-bottom: 5px;
            display: block;
            transition: all .5s ease;
        }
        &.hidden span:nth-child(2) {
            width: 75%;
            transition: with .3s ease;
        }
        &.hidden span:nth-child(3) {
            width: 50%;
            transition: with .3s ease;
        }
        &:hover span {
            box-shadow: 0 0 15px $hoverColor;
            transition: box-shadow .3s ease;
        }
    }

}

#content {
    z-index: -1;
    height: 100%;
    width: 100%;

    .resContent {
        display: none;
        visibility: hidden;
        transition: visibility .5s ease;
    }

    .active {
        display: block;
        visibility: visible;
        transition: visibility .3s ease;
    }

    .header {
        position: absolute;
        width: 100%;
        height: 60px;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #171717;
        color: white;
        margin: 0;
        padding-left: $navWidth;
        box-shadow: 0 3px 8px #131313;
        font-size: 24px;
        line-height: 60px;
        .title {
            margin-left: 70px;
        }
        .subtitle {
            font-weight: 400;
            // font-size: 24px;
            // line-height: 60px;
        }
        #emailComposeNewBtn, #emailReplyBtn, #emailReplyAllBtn, #newsAddFeedBtn {
            position: absolute;
            cursor: pointer;
            margin-right: 20px;
            line-height: 60px;
            color: white;
            transition: color .5s ease;
        }
        #emailComposeNewBtn {
            right: 120px;
        }
        #emailReplyBtn {
            right: 60px;
        }
        #emailReplyAllBtn {
            right: 0;
        }
        #newsAddFeedBtn {
            right: 0;
        }
        #emailComposeNewBtn:hover, #emailReplyBtn:hover, #emailReplyAllBtn:hover, #newsAddFeedBtn:hover {
            color: $hoverColor;
            transition: color .1s ease;
        }
    }
    .popup {
        position: fixed;
        width: 500px;
        top: 100px;
        left: 50%;
        margin-left: -250px;
        padding: 20px;
        z-index: 10;
        background-color: white;
        border-radius: 5px;
        opacity: .98;
        box-shadow: 0 5px 13px gray;
        transform: translateY(-800px);
        transition: transform .5s ease;
        &.visible {
            transform: translateY(0);
            transition: transform .5s ease;
        }
        table {
            width: 100%;
        }
    }
    #emailComposer h2 {
        margin-top: 0;
    }
    .container {
        display: none;
        visibility: hidden;
        position: absolute;
        box-sizing: border-box;
        background-color: $lightBackground;
        height: 100%;
        width: 100%;
        padding-left: $navWidth + 20px;
        padding-top: 80px;
        padding-right: 20px;
        padding-bottom: 20px;
        z-index: -1;
        // font-family: Roboto, Helvetica, Arial;
        #resourcesForm input {
            margin: 10px;
        }
        #notificationsForm input {
            margin: 10px;
        }
        .resList {
            display: inline-block;
            position: absolute;
            width: 30%;
            // height: 100%;
            top: 60px;
            bottom: 0;
            box-sizing: border-box;
            margin: 0;
            background-color: $resListBackgroundColor;
            overflow: auto;
            ul {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                list-style: none;
                li {
                    margin: 10px;
                    padding: 10px;
                    height: 70px;
                    background-color: $resListItemColor;
                    box-shadow: 0 3px 8px #131313;
                    overflow: hidden;
                    white-space: nowrap;
                    user-select: none;
                    transition: all .5s ease;
                    .avatar {
                        position: absolute;
                        font-size: 32px;
                        width: 32px;
                        height: 32px;
                        margin-left: 5px;
                        margin-top: 25px;
                        text-align: center;
                    }
                    .itemAuthor {
                        position: absolute;
                        left: 20px;
                        font-size: 14px;
                        color: #555;
                        background-color: inherit;
                        z-index: 1;
                    }
                    .itemDate {
                        position: absolute;
                        right: 20px;
                        font-size: 14px;
                        color: #555;
                    }
                    .itemTitle {
                        margin-top: 10px;
                        margin-left: 50px;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .itemContent {
                        margin-left: 50px;
                        font-size: 14px;
                    }
                }
                li:hover {
                    cursor: pointer;
                    background-color: $hoverColor;
                    transition: all .3s ease;
                }
                li.selected {
                    background-color: $activeColor;
                    transition: all .3s ease;
                }
            }
        }
        .resViewer {
            display: inline-block;
            position: absolute;
            box-sizing: border-box;
            margin-left: $navWidth;
            padding: 20px;
            top: 60px;
            bottom: 0;
            right: 0;
            left: 30%;
            background-color: gray;
            font-size: 18px;
            .chatBox {
                position: absolute;
                box-sizing: border-box;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% - 40px);
                padding: 30px;
                background-color: gray;
                overflow-y: auto;
                overflow-x: hidden;
            }
            .messageInput {
                position: absolute;
                width: 100%;
                height: 40px;
                left: 0;
                bottom: 5px;
                input[type="text"] {
                    position: absolute;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    border: 0;
                    font-size: 20px;
                    line-height: 20px;
                    padding-left: 10px;
                    box-shadow: inset 0 0 8px #131313;
                }
                img#chatSendBtn {
                    position: absolute;
                    right: 10px;
                    font-size: 30px;
                    height: 32px;
                    line-height: 40px;
                    margin-top: 4px;
                    -webkit-filter: invert(0);
                    transition: -webkit-filter .5s ease;
                    cursor: pointer;
                    &:hover {
                        -webkit-filter: invert(50%);
                        transition: -webkit-filter .3s ease;
                    }
                }
            }
        }
        #emailBody {
            background-color: transparent;
            overflow-y: auto;
            .emailTitle {
                font-weight: bold;
                font-size: 24px;
                line-height: 50px;
            }
            .emailSenderLabel {
                font-weight: bold;
            }
            .emailRecipientLabel {
                font-weight: bold;
            }
            .emailDatetime {
                font-size: 16px;
            }
        }
        #calendarViewer {
            display: inline-block;
            position: absolute;
            top: 60px;
            bottom: 0;
            margin: 0;
            width: 70%;
            box-sizing: border-box;
            .calendarHeader {
                position: absolute;
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                background-color: #372f2e;
                color: white;
                box-shadow: 0 3px 8px gray;
                line-height: 50px;
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                vertical-align: middle;
            }
            .calendarBody {
                position: absolute;
                box-sizing: border-box;
                top: 50px;
                bottom: 0;
                width: 100%;
                background-color: #DFDFDF;
                .days {
                    width: 100%;
                    height: 100%;
                    border-collapse: collapse;
                    td {
                        width: 14.28%;
                        // height: 40px;
                        text-align: center;
                        border: 1px solid #888;
                        cursor: pointer;
                    }
                    td:hover {
                        box-shadow: inset 0 0 18px #006600;
                        text-shadow: 1px 1px 2px green;
                    }
                    tr:nth-child(1) td {
                        border: 0;
                        height: 40px;
                        font-size: 14px;
                    }
                }
            }
        }
        #tasks {
            display: inline-block;
            position: absolute;
            top: 60px;
            bottom: 0;
            left: 70%;
            right: 0;
            margin-left: $navWidth;
            padding: 20px;
            overflow-x: hidden;
            box-sizing: border-box;
            box-shadow: inset 0 3px 8px #131313;
            input#newTaskInput {
                display: inline-block;
                width: 70%;
                height: 20px;
            }
            button#newTaskBtn {
                display: inline-block;
                width: 20%;
                margin-left: 10px;
            }
            ul#taskList {
                list-style: none;
                padding-left: 5px;
                li {
                    line-height: 40px;
                    height: 40px;
                }
                li input {
                    margin-right: 10px;
                }
            }
        }
        #newsBody {
            background-color: transparent;
            overflow-y: auto;
            .centered {
                width: 100%;
                text-align: center;
            }
            .newsTitle {
                font-size: 28px;
                font-weight: bold;
                line-height: 50px;
            }
            .newsAuthor {
                font-size: 20px;
                font-style: italic;
                color: #222;
            }
            .newsDate {
                font-size: 16px;
                color: #222;
                margin-bottom: 30px;
            }
        }
    }
    #emailContent .container,
    #chatContent .container,
    #calendarContent .container,
    #newsContent .container {
        padding-left: $navWidth;
        padding-top: 60px;
        padding-right: 0;
        padding-bottom: 0;
    }

    .active {
        display: block;
        visibility: visible;
    }
}
