table {
    td {
        padding: 5px;
    }
}

form {
    input {
        border-width: 0;
        border-radius: 5px;
        padding: 7px;
        &[type="reset"], &[type="submit"] {
            cursor: pointer;
        }
    }
}

button {
    border-width: 0;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 2px 5px #323232;
}
