body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    font-family: Helvetica, Arial;
}

form {
    input {
        width: 90%;
    }
    input[type="text"], input[type="password"] {
        box-shadow: inset 0 0 8px gray;
    }
    input[type="reset"], input[type="submit"] {
        font-weight: bold;
        background: transparent;
        border-width: 2px;
        border-style: solid;
        width: auto;
        box-shadow: 0 0 8px gray;
    }
    input[type="reset"] {
        color: red;
        border-color: red;
        transition: all .3s linear;
    }
    input[type="reset"]:hover {
        color: white;
        background-color: red;
        transition: all .1s linear;
    }
    input[type="submit"] {
        color: green;
        border-color: green;
        transition: all .3s linear;
    }
    input[type="submit"]:hover {
        color: white;
        background-color: green;
        transition: all .1s linear;
    }
}

#slider {
    background-color: gray;
    height: 100%;
    width: 220%;
    top: 0;
    left: 0;
    position: absolute;
    transition: left 1.5s;
    z-index: -10;

    &.second {
        transition: left 1s;
        left: -100%;
    }

    #loginSession {
        background: transparent;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 45.45%;
        top: 0;
        left: 0;

        table {
            background-color: white;
            opacity: 0.85;
            padding: 10px;
            margin: auto;
            margin-top: 15%;
            width: 50%;
            border-radius: 5px;
            box-shadow: 0 3px 8px #4a4a4a;

            td span {
                text-align: right;
            }

            h2 {
                text-align: center;
            }
        }

        #skip {
            cursor: pointer;
            position: absolute;
            display: inline-block;
            top: 30px;
            right: 30px;
            background-color: white;
        }
    }

    #selectionSession {
        background: transparent;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 45.45%;
        margin-top: 0;
        margin-left: 45.45%;

        selectionContainer {
            background-color: white;
            opacity: .85;
        }
    }
}
