body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    font-family: Helvetica, Arial;
    // background-color: black;
}

#slider {
    background-color: gray;
    height: 100%;
    width: 220%;
    top: 0;
    left: 0;
    position: absolute;
    transition: left 1.5s;
    z-index: -10;

    &.second {
        transition: left 1s;
        left: -100%;
    }

    #loginSession {
        background: transparent;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 45.45%;
        top: 0;
        left: 0;

        table {
            background-color: white;
            opacity: 0.85;
            padding: 10px;
            margin: auto;
            margin-top: 15%;
            width: 50%;
            border-radius: 5px;
            box-shadow: 0 3px 8px #4a4a4a;
            transition: margin-top .5s ease;

            &.toregister {
                transition: margin-top .3s ease;
                margin-top: 8%;
            }

            td span {
                text-align: right;
            }

            h2 {
                text-align: center;
            }
            input {
                width: 90%;
            }
            input[type="reset"], input[type="submit"] {
                width: auto;
            }
        }

        #skip {
            cursor: pointer;
            position: absolute;
            display: inline-block;
            top: 30px;
            right: 30px;
            background-color: white;
            opacity: .8;
            transition: box-shadow .5s ease;
            &:hover {
                transition: box-shadow .3s ease;
                box-shadow: 0 3px 15px #252525;
            }
        }
    }

    #selectionSession {
        background: transparent;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 45.45%;
        margin-top: 0;
        margin-left: 45.45%;

        #back {
            cursor: pointer;
            position: absolute;
            display: inline-block;
            top: 30px;
            left: 30px;
            background-color: white;
            opacity: .8;
            transition: box-shadow .5s ease;
            &:hover {
                transition: box-shadow .3s ease;
                box-shadow: 0 3px 15px #252525;
            }
        }

        #selectionContainer {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 3px 8px #4a4a4a;
            opacity: .85;
            text-align: left;
            margin: auto;
            padding: 10px;
            width: 500px;
            margin-top: 8%;

            #selectionForm {
                input {
                    margin: 10px;
                }
            }
        }
    }
}
